/* * {
    outline: 1px solid tomato;
} */

:root {
    --line: #f2f2f2;
    --wc: #ffffff;
    --bg: #f6f6f6;
    --mc: #6C801A;
    --dc: #333333;
    --lc: #999999;
    --gc50: rgba(0, 0, 0, 0.5);
}


html {
    font-size: 6.25%;
}

@media (max-width: 768px) {
    html {
        font-size: 0.25641025641vw;
        /* 390 size에 맞춤 (16/390*6.25/100) 디자인 사이즈 
        390 아이폰12 폭인듯?*/
    }
}

/* 100 % 16 = 6.25 
   1rem = 1px*/

body {
    font-size: 16rem;
    word-break: keep-all;
}

/* line-height : 3rem + 3rem */
p {
    line-height: 1.375;
}

.inner {
    max-width: 1200rem;
    margin: 0 auto;
    padding: 0 15rem;
}

.title {
    max-width: 1200rem;
    margin: 0 auto 30rem auto;
    padding: 0 15rem;
}

.title h2 {
    font-size: 30rem;
    font-weight: 700;
    margin: 0 0 20rem 0;
}

.title p {
    color: var(--lc);
}


@media(max-width:768px) {
    .title {
        margin: 0 auto 20rem auto;
    }

    .title h2 {
        font-size: 22rem;
        margin: 0 0 10rem 0;
    }

    .title p {
        font-size: 14rem;
    }
}


.btn {
    font-size: 15rem;
    color: var(--lc);
    font-weight: 300;
    display: inline-block;
    padding: 15rem 60rem;
    border: 1px solid #ddd;
    border-radius: 4rem;
}

.btn i {
    padding-left: 10rem;
    vertical-align: -2rem;
    font-size: 18rem;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .25), transparent);
    color: var(--wc);
    transition: 0.5s;
}

.header.on {
    background: var(--wc);
    border-bottom: 1px solid var(--bg);
}

.header:hover {
    background: var(--wc);
    color: var(--dc);
    border-bottom: 1px solid var(--bg);
}

.header .inner {
    height: 100rem;
    display: flex;
    gap: 40rem;
    align-items: center;
    position: relative;
    transition: 0.5s;
}

.header.on .inner {
    height: 80rem;
}

.header h1 {
    display: block;
    width: 109rem;
    height: 36rem;
    background: url(../images/logo_white.png)no-repeat;
    transition: 0.5s;
}

.header.on h1 {
    background: url(../images/logo_black.png)no-repeat;
}

.header:hover h1 {
    background: url(../images/logo_black.png)no-repeat;
}

.header .gnb {
    margin: 0 auto 0 60rem;
}

.header .gnb ul {
    display: flex;
    gap: 50rem;
}

.header .gnb ul>li {
    display: flex;
    font-size: 18rem;
    font-weight: 700;
}

.header.on .gnb ul>li>a {
    color: var(--dc);
}

.header .gnb ul>li:hover>a {
    color: var(--mc);
}

.header .gnb ul>li .sub {
    position: absolute;
    top: 100rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50rem;
    height: 320rem;
    padding: 20rem 50rem;
    background: var(--wc);
    border: 1px solid var(--bg);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.header.on .gnb ul>li .sub {
    top: 80rem;
}

.header .gnb ul>li:hover .sub {
    visibility: visible;
    opacity: 1;
}

.header .gnb ul>li .sub ul {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 15rem;

}

.header .gnb ul>li .sub ul>li {
    font-size: 15rem;
    font-weight: 100;
    color: var(--dc);
}

.header .gnb ul>li .sub ul>li:nth-child(1) {
    font-weight: 700;
    font-size: 17rem;
    margin: 0 0 10rem 0;
}

.header .gnb ul>li .sub ul>li:nth-child(1):hover a {
    color: var(--mc);
}

.header .gnb ul>li .sub ul>li:hover a {
    color: var(--lc);
}

.header .gnb ul>li .sub .img_box {
    flex: 2;
}



.header .hd_customer {
    display: flex;
    gap: 15rem;
    font-size: 25rem;
}

.header .hd_customer>li {
    position: relative;
    line-height: 100rem;
}

.header.on .hd_customer>li>a {
    color: var(--dc);
}

.header .hd_customer>li:hover i {
    color: var(--mc);
}

.header .hd_customer>li:hover .subm {
    display: block;
}

.header .hd_customer li:last-child {
    display: none;
}



.header .hd_service {
    display: flex;
    gap: 30rem;
    font-size: 15rem;
    font-weight: 700;
}

.header .hd_service>li {
    position: relative;
    line-height: 100rem;
}

.header.on .hd_service>li>a {
    color: var(--dc);
}

.header .hd_service>li:hover>a {
    color: var(--mc);
}

.header .hd_service>li:hover .subm {
    display: block;
}

.header .subm {
    display: none;
    position: absolute;
    top: 70rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--wc);
    line-height: 35rem;
    padding: 10rem 20rem 10rem 30rem;
    font-size: 15rem;
    font-weight: 500;
    border: 1px solid var(--bg);
    text-align: end;
}

.header .subm li a:hover {
    color: var(--lc);
}


@media(max-width:768px) {



    .header .inner {
        height: 80rem;
        justify-content: space-between;
        gap: 40rem;
    }

    .header h1 {
        width: 60rem;
        height: 53rem;
        background: url(../images/logo_white.png)no-repeat center center/contain;
        transition: 0.5s;
        z-index: 999;
    }

    .header.on h1 {
        background: url(../images/logo_black.png)no-repeat center center/contain;
    }

    .header:hover h1 {
        background: url(../images/logo_black.png)no-repeat center center/contain;
    }


    .header .gnb {
        position: fixed;
        inset: 0 0 0 100%;
        width: 100%;
        margin: 0 0 0 0;
        background: var(--wc);
        transition: 0.5s;
    }

    .header .gnb.on {
        inset: 0 0 0 0;
    }

    .header .gnb ul {
        display: none;
        gap: 30rem;
    }

    .header .gnb.on ul {
        display: flex;
        flex-direction: column;
        padding: 150rem 30rem 0 30rem;
    }

    .header .gnb ul>li {
        display: flex;
        font-size: 16rem;
        position: relative;
        border-bottom: 1px solid #666;
        line-height: 40px;
    }


    .header .gnb ul>li .sub {
        position: static;
        padding: 30rem 0;
        display: none;
        top: 30rem;
        left: 0;
        transform: translate(0, 0);
        width: 100%;

        flex-direction: column;
        justify-content: center;
        gap: 0;
        height: auto;
        border: 0 solid var(--bg);
        opacity: 0;
        transition: inherit;
    }

    .header .gnb ul>li>a.on .sub {
        display: flex;
        opacity: 1;
    }


    .header.on .gnb ul>li .sub {
        top: 0rem;
    }

    .header .gnb ul>li:hover .sub {
        visibility: visible;
        opacity: 1;
    }

    .header .gnb ul>li .sub ul {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 0;
        padding: 0 0 0 0;

    }

    .header .gnb ul>li .sub ul>li:nth-child(1) {
        font-size: 15rem;
        margin: 0 0 0 0;
    }

    .header .gnb ul>li .sub ul>li:not(:nth-child(1)) {
        display: none;
    }

    .header .gnb ul>li .sub ul>li:nth-child(1):hover a {
        color: var(--mc);
    }

    .header .gnb ul>li .sub ul>li:hover a {
        color: var(--lc);
    }

    .header .gnb ul>li .sub .img_box {
        flex: 2;
    }



    .header .hd_customer {
        font-size: 22rem;
    }



    .header .hd_customer li:nth-child(3) {
        display: none;
    }

    .header .hd_customer li:last-child {
        display: block;
    }


    .header .hd_service {
        display: none;
    }


    .header .subm {
        display: none;
    }
}

/* ---------------------------------메인비주얼---------------------------------------- */

.main_visual {
    height: 650rem;
    position: relative;
}

.main_slide {
    position: relative;
    height: 650rem;
}

.main_slide .itm .slide-img {
    position: absolute;
    inset: 0 0 0 0;
}

.main_slide .itm01 {
    background: url(../images/background01.jpg)no-repeat center center/cover;
}

.main_slide .itm02 {
    background: url(../images/background02.jpg)no-repeat center center/cover;
}

.main_slide .itm03 {
    background: url(../images/background03.png)no-repeat center center/cover;
}

.main_slide .itm04 {
    background: url(../images/background04.png)no-repeat center center/cover;
}

.main_slide .itm .slogan {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(0, 60%);
    margin: 0 0 0 -585rem;
}

.main_slide .itm .slogan strong {
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.3;
    display: block;
    margin: 0 0 20rem 0;
}

.main_slide .itm .slogan p {
    font-size: 17rem;
    font-weight: 300;
    line-height: 1.3;
    display: block;
    margin: 0 0 20rem 0;
}

.main_slide .itm .slogan .date {
    font-size: 17rem;
    font-weight: 700;
    display: block;
    margin: 0 0 50rem 0;
}

.main_slide .itm .slogan a {
    display: inline-block;
    padding: 10rem 25rem;
    border: 1px solid var(--dc);
    font-size: 15rem;
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1400rem;
    width: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 997;
}

.main_visual .arrows i {
    position: absolute;
    font-size: 40rem;
    color: var(--lc);
}

.main_visual .arrows .left {
    left: 0;
}

.main_visual .arrows .right {
    right: 0;
}

.main_visual .dots {
    position: absolute;
    bottom: 50rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 5;
}

.main_visual .dots span {
    font-size: 0;
    width: 75rem;
    height: 2rem;
    background: rgba(51, 51, 51, 0.1);
    border-radius: 0;
    transition: 0.5s;
}

.main_visual .dots .swiper-pagination-bullet-active {
    background: var(--dc);
    border-radius: 4rem;
}

@media(max-width:768px) {
    .main_visual {
        height: 600rem;
    }

    .main_slide {
        height: 600rem;
    }

    .main_slide .itm01 {
        background: url(../images/background_mo_01.jpg)no-repeat center center/cover;
    }

    .main_slide .itm02 {
        background: url(../images/background_mo_02.jpg)no-repeat center center/cover;
    }

    .main_slide .itm03 {
        background: url(../images/background_mo_03.png)no-repeat center center/cover;
    }

    .main_slide .itm04 {
        background: url(../images/background_mo_04.png)no-repeat center center/cover;
    }

    .main_slide .itm .slogan {
        bottom: 60rem;
        left: 0;
        transform: translate(0, 0);
        margin: 0 0 0 0;
        width: 100%;
        padding: 0 30rem;
    }

    .main_slide .itm .slogan strong {
        font-size: 24rem;
        margin: 0 0 5rem 0;
    }

    .main_slide .itm .slogan p {
        font-size: 14rem;
        margin: 0 0 10rem 0;
    }

    .main_slide .itm .slogan .date {
        font-size: 14rem;
        margin: 0 0 0 0;
    }

    .main_slide .itm .slogan a {
        display: none;
    }

    .main_visual .arrows {
        display: none;
    }

    .main_visual .dots {
        bottom: 30rem;
        z-index: 5;
        width: 100%;
        text-align: center;
        padding: 0 30rem;
    }

    .main_visual .dots span {
        font-size: 0;
        width: calc(100%/4);
    }
}


/* ---------------------------------섹션2---------------------------------------- */


.main_notice {
    padding: 50rem 0;
}

.main_notice .notice_container {
    display: flex;
    gap: 30rem;
    align-items: center;
    overflow: hidden;
    background: var(--bg);
    border-radius: 4rem;
    padding: 16rem 20rem;
    font-size: 14rem;
}

.main_notice h2 {
    color: var(--lc);
}

.main_notice .notice_slide {
    height: 14rem;
    align-items: center;
    margin: 0 auto 0 0;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    overflow: hidden;
}


/* ---------------------------------섹션2---------------------------------------- */

.main_menulist {
    text-align: center;
    position: relative;
}

.main_menulist .title {
    display: flex;
    align-items: center;
    gap: 50rem;
    margin: 0 0 30rem 0;
}

.main_menulist .title h2 {
    margin: 0;
}

.main_menulist .title .list {
    display: flex;
    gap: 8rem;
}

.main_menulist .title .list li {
    color: var(--lc);
    background: var(--bg);
    padding: 10rem 20rem;
    border-radius: 30rem;
    font-size: 15rem;
    font-weight: 700;
}

.main_menulist .title .list li.on {
    color: var(--wc);
    background: var(--mc);
}


.main_menulist .menu {
    position: relative;
    min-height: 350rem;
    overflow: hidden;
    margin: 0 0 50rem 0;
}

.main_menulist .menu>* {
    position: absolute;
    inset: 0 0 0 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.main_menulist .menu>*.on {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.main_menulist .menu figure {
    margin: 0 0 10rem 0;
}

.main_menulist .menu .txt_box {
    text-align: center;
}

.main_menulist .menu .txt_box strong {
    display: block;
    margin: 0 0 10rem 0;
    font-size: 18rem;
}

.main_menulist .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1300rem;
    width: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 997;
}

.main_menulist .arrows i {
    position: absolute;
    font-size: 28rem;
    color: var(--lc);
}

.main_menulist .arrows .left {
    left: 0;
}

.main_menulist .arrows .right {
    right: 0;
}

@media(max-width:768px) {

    .main_menulist .title {
        flex-direction: column;
        align-items: start;
        gap: 20rem;
        margin: 0 0 30rem 0;
    }

    .main_menulist .title h2 {
        text-align: left;
        white-space: nowrap;
    }

    .menu .itm {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30rem;
        align-items: center;
        height: calc(33% - 12px) !important;
    }

    .main_menulist .menu figure {
        margin: 0 0 0 0;
    }

    .main_menulist .menu .txt_box {
        text-align: left;
    }

    .main_menulist .menu .txt_box strong {
        display: block;
        font-size: 15rem;
    }

    .main_menulist .arrows {
        display: none;
    }
}



/* ---------------------------------메인비주얼---------------------------------------- */


.main_today {
    padding: 100rem 0;
    position: relative;
}

.main_today figure {
    position: relative;
}

.main_today .img_box_mo {
    display: none;
}

.main_today .itm {
    position: absolute;
    top: 0;
    right: 0;
    padding: 40rem 60rem;
    width: 50%;
    height: 100%;
}

.main_today .tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 50rem 0;
}

.main_today .itm h2 {
    font-size: 30rem;
    font-weight: 700;
}

.main_today .itm strong {
    display: block;
    font-size: 26rem;
    font-weight: 700;
    margin: 0 0 20rem 0;
}

.main_today .itm p {
    font-size: 30rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.main_today .itm p::before {
    content: "95,000원";
    font-size: 18rem;
    text-decoration: line-through;
    color: var(--lc);
    padding: 0 20rem 0 0;
}

.main_today .itm p::after {
    content: "30%";
    font-size: 18rem;
    color: var(--wc);
    background: #FD5C5C;
    padding: 14rem 10rem;
    border-radius: 50%;
    margin: 0 0 0 10rem;
}

.main_today .timer {
    display: flex;
    font-size: 28rem;
    color: #6E6672;
}

.main_today .timer::before {
    content: "\F293";
    font-family: bootstrap-icons;
    font-size: 28rem;
    padding: 0 10rem 0 0;
}

@media(max-width:768px) {
    .main_today {
        padding: 50rem 0;
    }

    .main_today .inner {
        padding: 0 0;
    }

    .main_today .img_box_mo {
        display: block;
    }

    .main_today .img_box {
        display: none;
    }

    .main_today .itm {
        position: absolute;
        inset: 0 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20rem 15rem;
        width: 100%;
    }

    .main_today .tit {
        margin: 0 0 auto 0;
    }

    .main_today .itm h2 {
        font-size: 22rem;
    }

    .main_today .itm strong {
        font-size: 28rem;
    }

    .main_today .itm p {
        font-size: 24rem;
    }

    .main_today .itm p::before {
        font-size: 16rem;
        padding: 0 10rem 0 0;
    }

    .main_today .itm p::after {
        font-size: 16rem;
        background: #FD5C5C;
        padding: 12rem 8rem;
    }

    .main_today .timer {
        font-size: 22rem;
    }

    .main_today .timer::before {
        font-size: 22rem;
    }
}


/* ---------------------------------메인비주얼---------------------------------------- */


.main_subscribe {
    padding: 100rem 0;
    background: var(--bg);
}



.main_subscribe .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
}

.main_subscribe .inner .right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20rem;
}

.main_subscribe figure {
    position: relative;
}

.main_subscribe .left figure figcaption {
    position: absolute;
    bottom: 50rem;
    left: 40rem;
}

.main_subscribe .right figure figcaption {
    position: absolute;
    left: 40rem;
    top: 50%;
    transform: translate(0, -50%);
}

.main_subscribe figure strong {
    display: block;
    margin: 0 0 15rem 0;
    font-size: 28rem;

}

.main_subscribe_mo {
    display: none;
}

@media(max-width:768px) {
    .main_subscribe {
        display: none;
    }

    .main_subscribe_mo {
        display: block;
        overflow: hidden;
    }

    .main_subscribe_mo .inner {
        text-align: center;
    }

    .mo_slide {
        margin: 0 0 40rem 0;
    }

    .mo_slide .swiper-slide {
        width: 80%;
    }


    .mo_slide figure .img_box {
        margin: 0 0 10rem 0;
    }

    .mo_slide figure figcaption {
        text-align: left;
        font-weight: 700;
    }

    .mo_slide figure figcaption strong {
        display: block;
        margin: 0 0 10rem 0;
    }
}


/* ---------------------------------메인비주얼---------------------------------------- */

.main_event {
    padding: 100rem 0;
}

.main_event .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
}

.main_event .inner figure {
    position: relative;
}

.main_event .inner figure .txt_box {
    position: absolute;
    top: 50%;
    left: 40rem;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.main_event .inner figure .story {
    color: var(--wc);
}

.main_event .inner figure strong {
    font-size: 28rem;
    font-weight: 600;
}

@media(max-width:768px) {
    .main_event {
        padding: 50rem 0;
    }

    .main_event .inner {
        grid-template-columns: 1fr;
        gap: 0;
        padding: 0 0;
    }

    .main_event .inner figure strong {
        font-size: 22rem;
    }
}


/* ---------------------------------메인비주얼---------------------------------------- */
.main_banner figure {
    position: relative;
}

.main_banner figure .img_box_mo {
    display: none;
}

.main_banner figure .txt_box {
    position: absolute;
    top: 50%;
    left: 80rem;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    gap: 20rem;
    color: var(--wc);
}

.main_banner figure .txt_box span {
    font-size: 15rem;
}

.main_banner figure .txt_box strong {
    font-size: 28rem;
}

@media(max-width:768px) {
    .main_banner figure .img_box_mo {
        display: block;
    }

    .main_banner figure .img_box {
        display: none;
    }

    .main_banner figure .txt_box {
        left: 30rem;
    }
}

/* ---------------------------------메인비주얼---------------------------------------- */

.main_store {
    padding: 100rem 0;
    position: relative;
}

.main_store .inner {
    overflow: hidden;
    text-align: center;
}

.store_slide {
    margin: 0 -15rem 40rem -15rem;
}

.store_slide .swiper-wrapper {
    align-items: center;
}

.store_slide .swiper-slide {
    position: relative;
    transition: all 200ms linear;
    transform: scale(0.9);
}

.store_slide .swiper-slide-active {
    transform: scale(1);
}

.store_slide .txt_box {
    position: absolute;
    top: 50%;
    left: 40rem;
    transform: translate(0, -50%);
    color: var(--wc);
    text-align: start;
}

.store_slide .txt_box strong {
    font-size: 28rem;
    display: block;
    margin: 0 0 10rem 0;
    line-height: 1.3;
}

.store_slide .txt_box span {
    font-weight: 100;
    font-size: 15rem;
    line-height: 1.4;
}

.main_store .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1300rem;
    width: 100%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 997;
}

.main_store .arrows i {
    position: absolute;
    font-size: 40rem;
    color: var(--lc);
}

.main_store .arrows .left {
    left: 0;
}

.main_store .arrows .right {
    right: 0;
}

@media(max-width:768px) {
    .main_store {
        padding: 50rem 0;
    }

    .store_slide {
        margin: 0 15rem 40rem 15rem;
    }

}


/* -------------------------------footer---------------------------------- */


.footer {
    padding: 0 0 80rem 0;
}

.footer .customer_link {
    background: #67625d;
}

.footer .customer_link .inner {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20rem;
    height: 63rem;
}


.footer .customer_link .login_btn {
    border: 1px solid var(--dc);
    padding: 10rem 25rem;
    background: #3f3e3c;
    color: var(--wc);
    font-size: 15rem;
}


.footer .customer_link ul {
    display: flex;
    gap: 10rem;
}

.footer .customer_link ul a {
    padding: 6rem 8rem;
    background: #3f3e3c;
    border: 1px solid var(--dc);
    color: var(--line);
    border-radius: 50%;
    font-size: 20rem;
}

.footer .top {
    background: #fafafa;
    margin: 0 0 30rem 0;
}

.footer .top .inner {
    display: flex;
    padding: 30rem 15rem;
    gap: 20rem;
    height: 164rem;
    font-size: 15rem;
    color: #7b7b7b;
}

.footer .top .contact01 {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

.footer .top .contact01 a {
    font-size: 18rem;
    color: #595959;
}

.footer .top .contact01 .tel {
    font-size: 30rem;
}

.footer .top .contact02 {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

.footer .top .contact02 a {
    text-decoration: underline;
    font-weight: 900;
    color: #595959;
}



.footer .top .f_service {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20rem;
    border-left: 1px solid #efefef;
}

.footer .top .f_service li {
    text-align: center;

}

.footer .top .f_service li img {
    margin: 0 auto 10rem auto;
    display: block;
}

.footer .bottom .inner {
    display: flex;
    align-items: center;
    gap: 50rem;
    font-size: 13rem;
}

.footer .bottom .btn {
    display: none;
}

.footer .bottom figure {
    width: 120rem;
}

.footer .bottom .f_info {
    display: flex;
    gap: 21rem;
    margin: 0 0 20rem 0;
}

.footer .bottom .f_info li {
    position: relative;
}

.footer .bottom .f_info li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10rem;
    transform: translate(0, -50%);
    width: 1px;
    height: 10rem;
    background: #7b7b7b;
}

.footer .bottom .f_info strong {
    font-weight: 900;
}

.footer .bottom .address {
    color: #7b7b7b;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.footer .bottom .address a {
    padding: 8rem 12rem;
    color: #828282;
    background: #fafafa;
    border: 1px solid #ededed;
    margin-left: 5rem;
}

@media(max-width:768px) {
    .footer {
        padding: 0 0 50rem 0;
    }

    .footer .customer_link .inner {
        justify-content: space-between;
    }

    .footer .top {
        margin: 0 0 30rem 0;
    }

    .footer .top .inner {
        gap: 30rem;
        font-size: 13rem;
    }

    .footer .top .contact01 {
        line-height: 1.2;
    }

    .footer .top .contact01 a {
        font-size: 15rem;
    }

    .footer .top .contact01 .tel {
        font-size: 18rem;
    }

    .footer .top .contact02 {
        line-height: 1.2;
    }

    .footer .top .f_service {
        display: none;
    }

    .footer .bottom .inner {
        font-size: 12rem;
    }



    .footer .bottom figure {
        display: none;
    }

    .footer .bottom .con .f_info {
        display: block;
        gap: 0;
        margin: 0 0 20rem 0;
        text-align: center;
    }

    .footer .bottom .f_info li {
        display: inline-block;
        padding-right: 16rem;
    }

    .footer .bottom .f_info li~li::before {
        left: -9rem;
        height: 8rem;
        background: #ddd;
    }

    .footer .bottom .f_adr {
        text-align: center;
    }

    .footer .bottom .btn {
        display: inline-block;
        margin: 0 0 20rem 0;
    }

    .footer .bottom .address {
        display: none;
        text-align: left;
        line-height: 1.6;
        gap: 7rem;
    }

    .footer .bottom .address.on {
        display: flex;
    }

    .footer .bottom .address a {
        padding: 0 0;
        color: var(--dc);
        font-weight: 900;
        background: transparent;
        border: 0 solid #ededed;
    }

}